doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Cambiar contraseña de #{UserName} - Fotaza
        link(rel="stylesheet" href="/CSS" type="Text/CSS")
        link(rel="icon" type="image/x-icon" href="/favicon")
    body
        include Navbar.pug
        h1 Editando contraseña de #{UserName}
        form(action="/Usuario/GuardarClave" method="post" enctype="application/x-www-form-urlencoded")
            input(type="hidden" name="IdUsuario" value=`${IdUsuarioConectado}`)
            label(for="CampoContrasena") Nueva contraseña
            input#CampoContrasena(class="form-control" type="password" max="255" name="ContraseñaUsuario" placeholder="Nueva contraseña")
            button(type="submit" class="btn btn-success") Guardar cambios
        h3 La sesión será cerrada tras guardar los cambios.