doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS", type="Text/CSS")
        title Fotaza
        link(rel="icon", href="/favicon", type="image/x-icon")
    body
        nav.navbar.navbar-expand-lg.navbar-nav.navbar-toggleable-sm.navbar-light.bg-light.border-bottom.box-shadow.mb-3
            div.container-fluid
                div.navbar-collapse.collapse.d-sm-inline-flex.justify-content-between
                    ul.navbar-nav.flex-grow-1.align-items-center
                        li.nav-item
                            h2
                                a.nav-link.text-dark(href="/Home") Fotaza
                        - if (IdUsuarioConectado == "NULL")
                            li.nav-item
                                button.btn.btn-primary
                                    a.nav-link.text-light(href="/Usuario/Ingresar") Iniciar Sesión
                        - else
                            li.nav-item
                                a.nav-link.text-success(href=`./Usuario/${IdUsuarioConectado}`)
                                    h4 #{UsuarioConectado}
                            li.nav-item
                                a.nav-link.text-danger(href="/Usuario/Salir")
                                    h5 Salir
                            li.nav-item
                                a.nav-link(href="/Posts/Subir")
                                    h5 Subir Post
                        li.nav-item
                            a.nav-link(href="/Posts")
                                h5 Subidas
        h1 Fotaza
        a(href="./Posts/Ver/13")
            h2 Versión 0.3
        p Trabajo hecho por Astor Aricó. ¡Ya vienen más funciones!
        a(href="./Posts") Explorar el contenido
        br
        a(href="./Usuario/Ingresar") Ingresar a Fotaza