doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS", type="Text/CSS")
        title Fotaza
        link(rel="icon", href="/favicon", type="image/x-icon")
    body
        nav.navbar.navbar-expand-lg.navbar-nav.navbar-toggleable-sm.navbar-light.bg-light.border-bottom.box-shadow.mb-3
            div.container-fluid
                div.navbar-collapse.collapse.d-sm-inline-flex.justify-content-between
                    ul.navbar-nav.flex-grow-1.align-items-center
                        li.nav-item
                            h2
                                a.nav-link.text-dark(href="/Posts") Fotaza
                        - if (IdUsuarioConectado == "NULL")
                            li.nav-item
                                button.btn.btn-primary
                                    a.nav-link.text-light(href="/Usuario/Ingresar") Iniciar Sesión
                        - else
                            li.nav-item
                                a.nav-link.text-success(href=`/Usuario/Perfil/${IdUsuarioConectado}`)
                                    h4 #{UsuarioConectado}
                            li.nav-item
                                a.nav-link.text-danger(href="/Usuario/Salir")
                                    h5 Salir
                            li.nav-item
                                a.nav-link.text-info(href="/Posts/Subir")
                                    h5 Subir Post
                            li.nav-item
                                a.nav-link.text-warning(href="/Usuario/EditarPerfil")
                                    h5 Editar Perfil
                        li.nav-item
                            a.nav-link(href="/Posts")
                                h5 Subidas
                        li.nav-item
                            a.nav-link(href="/Documentos/Términos-de-uso-y-Licencias.html")
                                h5 Términos y copyright
                        li.nav-item
                            a.nav-link(href="/Documentos/Guía-de-Markdown-y-formato.html")
                                h5 Guía de Markdown y formato
        h1 Fotaza, versión 0.5.2
        p Trabajo hecho por Astor Aricó&nbsp;
            a(href="https://github.com/AstorArico72/Fotaza/releases") &#40;versiones anteriores aquí&#41;.&nbsp;
            |Tema&nbsp;
            a(href="https://bootswatch.com/lumen/") "Lumen"
            | &nbsp;por Thomas Park, bajo licencia MIT.
        h2
            a(href="/Posts") Explorar el contenido
        h2
            a(href="/Usuario/Ingresar") Ingresar a Fotaza