doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS", type="Text/CSS")
        title #{NoError} - Fotaza
        link(rel="icon", href="/favicon", type="image/x-icon")
    body
        div.card.card-header
            h1.text-danger #{NoError}
        div.card.card-body
            p !{MensajeError}
        br
        a(href="/") ¿Volver a la página principal?